.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: -1px -1px 4px grey;
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
}

.pokeball {}

.pokeball:hover {
    -webkit-animation: rotate-center 1.5s cubic-bezier(.14, 1.07, 0, 1) both;
    animation: rotate-center 1.5s cubic-bezier(.14, 1.07, 0, 1) both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}