html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*:active {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

@font-face {
    font-family: Pokemon;
    src: url('/PokemonSolid.ttf');
}

@font-face {
    font-family: Monserrat-Bold;
    src: url('/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Monserrat-Regular;
    src: url('/Montserrat-Regular.ttf');
}
.nextui-input-content--right{
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 10px;
    cursor: pointer;
}
.nextui-image-container {
    margin: 0;
}

.grass {
    background-color: #66da66;
}

.normal {
    background-color: #bb7f25;
}

.fighting {
    background-color: #bb5425;
}

.flying {
    background-color: #a2a2a2;
}

.poison {
    background-color: #87217b;
}

.ground {
    background-color: #523419;
}

.rock {
    background-color: #3f3f3f;
}

.bug {
    background-color: #7b9b23;
}

.ghost {
    background-color: #56187b;
}

.steel {
    background-color: #55697e;
}

.fire {
    background-color: #ac2000;
}

.water {
    background-color: #2e70c7;
}

.electric {
    background-color: #ffde21;
}

.psychic {
    background-color: #dd4648;
}

.ice {
    background-color: #588db1;
}

.dragon {
    background-color: #695280;
}

.dark {
    background-color: #262626;
}

.fairy {
    background-color: #bf2587;
}

.unknown {
    background-color: #2bb579;
}

.shadow {
    background-color: #616161;
}

.red {
    background-color: rgb(230, 90, 90);
    color: #fff;
}

.blue {
    background-color: rgb(87, 87, 233);
    color: #fff;
}

.green {
    background-color: rgb(94, 201, 94);
    color: #fff;
}

.yellow {
    background-color: rgb(245, 245, 72);
    color: #fff;
}

.gold {
    background-color: rgb(199, 199, 35);
    color: #fff;
}

.silver {
    background-color: rgb(143, 143, 143);
    color: #fff;
}

.crystal {
    background-color: #537382;
    color: #fff;
}

.ruby {
    background-color: rgb(124, 43, 43);
    color: #fff;
}

.sapphire {
    background-color: rgb(43, 43, 135);
    color: #fff;
}

.emerald {
    background-color: #2b9969;
    color: #fff;
}

.firered {
    background-color: #ca5719;
    color: #fff;
}

.leafgreen {
    background-color: #2ec747;
    color: #fff;
}

.diamond {
    background-color: #35413c;
    color: #fff;
}

.pearl {
    background-color: #56187b;
    color: #fff;
}

.platinum {
    background-color: #8ad3c0;
    color: #fff;
}

.heartgold {
    background-color: #d8bb37;
    color: #fff;
}

.soulsilver {
    background-color: #999999;
    color: #fff;
}

.black {
    background-color: black;
    color: #fff;
}

.white {
    background-color: white;
    color: black;
}

.colosseum {
    background-color: #bf2587;
    color: #fff;
}

.xd {
    background-color: darkslateblue;
    color: #fff;
}

.black-2 {
    background-color: black;
    color: #fff;
}

.white-2 {
    background-color: white;
    color: black;
}

.x {
    background-color: darkcyan;
    color: #fff;
}

.y {
    background-color: firebrick;
    color: #fff;
}

.omega-ruby {
    background-color: rgb(204, 50, 50);
    color: #fff;
}

.alpha-sapphire {
    background-color: dodgerblue;
    color: #fff;
}

.sun {
    background-color: rgb(220, 209, 54);
    color: #fff;
}

.moon {
    background-color: #456f83;
    color: #fff;
}

.ultra-sun {
    background-color: #c7bd2e;
    color: #fff;
}

.ultra-moon {
    background-color: rgb(151, 151, 151);
    color: #fff;
}

.lets-go-pikachu {
    background-color: #2b9969;
    color: #fff;
}

.lets-go-eevee {
    background-color: #523419;
    color: #fff;
}

.sword {
    background-color: #3f3f3f;
    color: #fff;
}

.shield {
    color: #fff;
    background-color: #c7bd2e;
}
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fcf;
    border-color: rgb(133, 16, 133) transparent rgb(133, 16, 133) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }